[Unit]
Description=Initiate Docker Compose web ui
[Service]
WorkingDirectory=/usr/local/opt/apps/docker/tkskl-server
Restart=on-failure
ExecStart=sudo /usr/bin/docker-compose up
ExecStop=sudo /usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
