{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>SLEEP</title>
</head>

<body style="background-color:black;">
    <div class="container d-flex align-items-center" style="height: 100vh;">
        <div class="row" style="width:100%">
          <div class="col-md-12 mx-auto">
            <a href="/">
                <img src="{% static 'img/TS_LOADER.gif' %}" alt="LOGO" style="width:100%;">
            </a>
        </div>
    </div>
</body>

</html>
