[Unit]
Description=Start the pipe out of docker	

[Service]
ExecStart=/home/tch/apps/tcs_ui/monitor_pipe.sh
Restart=on-failure

[Install]
WantedBy=default.target

