[Unit]
Description=Initiate Docker Compose TCS UI

[Service]
WorkingDirectory=/home/tch/Documents
Restart=on-failure
ExecStart=sudo /usr/bin/docker-compose up
ExecStop=sudo /usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target

